#wrapper {
    margin-top: 2rem;
}

#figh-wrapper {
    width: 70%;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
}

#figh-wrapper > *:first-child, #figh-wrapper > *:last-child {
    flex: 1;
}

.btn-wrapper {
    margin: 0 1rem;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
    justify-content: center;
}

p.center {
    text-align: center;
}

.preview-warning {
    height: 1.2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(116, 7, 7);
    text-transform: uppercase;
    text-align: center;
}